<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LA Crime Data Explorer</title>
    <link rel="stylesheet" href="static/style.css">
    <script src=static/webapp.js></script>
</head>
<body>

    <h1>LA Crime Data Explorer</h1>

    <div class="container">
        <div class="sidebar">
            <h2>Filters</h2>
            <p> Type:</p>
            <select id = "types_selector" class = "selector"></select>
            <p> Area:</p>
            <select id = "areas_selector" class="selector"></select>
            <p> Start Date:</p>
            <select id = "start_dates_selector" class="selector">Start Date</select>
            <p> End Date:</p>
            <select id = "end_dates_selector" class="selector">End Date</select>
            <button id = "search_button" class="filter-button">Search</button>
            <p> Table (later will be turned into graphs): </p>
            <table id="crimes_table" class="table"></table>
        </div>
        <div class="main">
            <img src="static/mockup.jpg" alt="Graph of crimes reported by number over time">
        </div>
    </div>

    <h1>Victim Demographics</h1>

    <div class="demographics-container">
        <div id = 'age' class = 'demographics-graph'> 
            victim ages
            <img src="static/mockup21.jpeg" alt="Histogram of victim ages">
        </div>
        <div id = 'sex' class = 'demographics-graph'> 
            victim sex
            <img src="static/mockup22.jpeg" alt="Pie chart of victim sex">
        </div>
    </div>

</body>
</html>
